<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Admin</title>
		<script src="https://cdn.tailwindcss.com"></script>
		<link href="https://cdn.jsdelivr.net/npm/daisyui@4.6.0/dist/full.min.css" rel="stylesheet" type="text/css"/>


		<style>
			.h-screen{
				height: calc(100vh - 64px) !important;
			}
		</style>
	</head>


	<body class="bg-gray-50 dark:bg-gray-800">


		<nav class="fixed z-30 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
			<div class="px-3 py-3 lg:px-5 lg:pl-3">
				<div class="flex items-center justify-between">
					<div
						class="flex items-center justify-start">

						{# burger #}
						<button id="toggleSidebarMobile" aria-expanded="true" aria-controls="sidebar" class="p-2 text-gray-600 rounded cursor-pointer lg:hidden hover:text-gray-900 hover:bg-gray-100 focus:bg-gray-100 dark:focus:bg-gray-700 focus:ring-2 focus:ring-gray-100 dark:focus:ring-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
							<svg id="toggleSidebarMobileHamburger" class="w-6 h-6" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
							</svg>
							<svg id="toggleSidebarMobileClose" class="hidden w-6 h-6" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
							</svg>
						</button>
						<a href="/" class="flex ml-2 md:mr-24">Parcel Tracker</a>
					</div>
				</div>
			</div>
		</nav>


		<div class="flex pt-16 overflow-hidden bg-gray-50 dark:bg-gray-900">

			<aside id="sidebar" class="fixed top-0 left-0 z-20 flex flex-col flex-shrink-0 hidden w-64 h-full pt-[48px] font-normal duration-75 lg:flex transition-width" aria-label="Sidebar">
				<div class="relative flex flex-col flex-1 min-h-0 pt-0 bg-white border-r border-gray-200 dark:bg-gray-800 dark:border-gray-700">
					<div class="flex flex-col flex-1 pt-5 pb-4 overflow-y-auto">
						<div class="flex-1 px-3 space-y-1 bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">
							<ul class="flex flex-col h-full pb-2">
								<li>
									<a href="/admin" class="flex items-center p-2 text-base text-gray-900 rounded-lg hover:bg-gray-100 group dark:text-gray-200 dark:hover:bg-gray-700">
										<span class="ml-3" sidebar-toggle-item="">Home</span>
									</a>
								</li>
								<li class='mt-auto'>
								<form method='POST' action='/logout' class='p-2 text-base text-gray-900 rounded-lg group dark:text-gray-200 dark:hover:bg-red-700'>
										<button class="ml-3">logout</button>
								</form>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</aside>


			<div class="fixed inset-0 z-10 hidden bg-gray-900/50 dark:bg-gray-900/90" id="sidebarBackdrop"></div>

			<div id="main-content" class="relative w-full h-screen overflow-y-auto bg-gray-50 lg:ml-64 dark:bg-gray-900">
				<main>
					<div
						class="px-4 pt-6">

						<form class="my-3" method="POST" action="/track">

							<div class='grid grid-rows-3 '>
								<label class='m-0'>Tracking Number</label>
								<input placeholder='Enter tracking number' class="input input-bordered w-full max-w-md" type="text" name="reference"/>
								<small class='text-xs text-gray-600 mt-2'>An item is created if the tracking number does not exist</small>
							</div>
						</form>


						<div
							class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800">
							<!-- Card header -->
							<div class="items-center justify-between lg:flex">
								<div class="mb-4 lg:mb-0">
									<h3 class="mb-2 text-xl font-bold text-gray-900 dark:text-white">Latest Transaction</h3>
									<span class="text-base font-normal text-gray-500 dark:text-gray-400">This is a list of latest transactions</span>
								</div>
							</div>
							<!-- Table -->
							<div class="flex flex-col mt-6">
								<div class="overflow-x-auto rounded-lg">
									<div class="inline-block min-w-full align-middle">
										<div class="overflow-hidden shadow sm:rounded-lg">
											<table class="min-w-full divide-y divide-gray-200 dark:divide-gray-600">
												<thead class="bg-gray-50 dark:bg-gray-700">
													<tr>
														<th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
															Location
														</th>
														<th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
															Date &amp; Time
														</th>
														<th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
															Reference number
														</th>
														<th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
															Status
														</th>
													</tr>
												</thead>
												<tbody class="bg-white dark:bg-gray-800">

												{% for parcel in parcels %}

													<tr>
														<td class="p-4 text-sm font-normal text-gray-900 whitespace-nowrap dark:text-white">
															{{ parcel.history[parcel.history|length -1 ].location}}
														</td>
														<td class="p-4 text-sm font-normal text-gray-500 whitespace-nowrap dark:text-gray-400">
															{{ parcel.Date|date('Y-m-d')}}
														</td>
														<td class="p-4 text-sm font-normal text-gray-500 whitespace-nowrap dark:text-gray-400">
														{{ parcel.reference}}
														</td>
														<td class="p-4 whitespace-nowrap">
															<span class="bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-md dark:bg-gray-700 dark:text-green-400 border border-green-100 dark:border-green-500">Completed</span>
														</td>
													</tr>

												{% endfor %}

												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</main>
			</div>

		</div>


		<script async="" defer="" src="https://buttons.github.io/buttons.js"></script>

		<script>
			const sidebar = document.getElementById('sidebar');

if (sidebar) {
const toggleSidebarMobile = (sidebar, sidebarBackdrop, toggleSidebarMobileHamburger, toggleSidebarMobileClose) => {
sidebar.classList.toggle('hidden');
sidebarBackdrop.classList.toggle('hidden');
toggleSidebarMobileHamburger.classList.toggle('hidden');
toggleSidebarMobileClose.classList.toggle('hidden');
}

const toggleSidebarMobileEl = document.getElementById('toggleSidebarMobile');
const sidebarBackdrop = document.getElementById('sidebarBackdrop');
const toggleSidebarMobileHamburger = document.getElementById('toggleSidebarMobileHamburger');
const toggleSidebarMobileClose = document.getElementById('toggleSidebarMobileClose');

toggleSidebarMobileEl.addEventListener('click', () => {
toggleSidebarMobile(sidebar, sidebarBackdrop, toggleSidebarMobileHamburger, toggleSidebarMobileClose);
});

sidebarBackdrop.addEventListener('click', () => {
toggleSidebarMobile(sidebar, sidebarBackdrop, toggleSidebarMobileHamburger, toggleSidebarMobileClose);
});
}
		</script>
	</body>
</html>
