<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Hello World</title>
		<script src="https://cdn.tailwindcss.com"></script>
		<link href="https://cdn.jsdelivr.net/npm/daisyui@4.6.0/dist/full.min.css" rel="stylesheet" type="text/css"/>

		<link href="/static/css/car.css" rel="stylesheet" type="text/css"/>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@600&display=swap" rel="stylesheet">

		<style>

			* {
				font-family: 'Red Hat Display', sans-serif;
			}
			.blob {
				background-image: url('/static/images/blob.png');
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
			}

			.h-screen {
				height: calc(100vh - 64px) !important;
			}
		</style>
	</head>
	<body>


		<div class='container-xl blob'>

			<div class="navbar">
				<a class="btn btn-ghost text-xl">Castillo Parcel Tracker</a>
			</div>

			<section class="grid grid-cols-[1fr,2fr] h-screen">


				<div class="flex items-end justify-center">
					<img src='/static/images/hero.png'>
				</div>

				<div class="flex items-center justify-center">


					{# <div class="container">
																										<div class="car-wrapper">
																											<div class="car-wrapper_inner">
																				
																												<div class="car_outter">
																													<div class="car flex">
																														<img src='/static/images/track.png'>
																														<div class="wind">
																															<div class="p p1"></div>
																															<div class="p p2"></div>
																															<div class="p p3"></div>
																															<div class="p p4"></div>
																															<div class="p p5"></div>
																														</div>
																													</div>
																												</div>
																											</div>
																				
																										</div>
																									</div> #}

					{# <div class="car flex">
																					<img src='/static/images/track.png'>
																					<div class="wind">
																						<div class="p p1"></div>
																						<div class="p p2"></div>
																						<div class="p p3"></div>
																						<div class="p p4"></div>
																						<div class="p p5"></div>
																					</div>
																				</div> #}
																				
																				{% block body %}
						{# Generated Content Here #}
					{% endblock %}
					{# <form method="POST" action="/" class="card w-96"> 
											
											<h1 class="text-5xl font-semibold mb-2" style="color: #88D176">
					
													Parcel Tracking
												</h1>
					
												<label for="trackingNumber">Tracking Number</label>
												<input class="input" id="trackingNumber" name="trackingNumber" type="text" required>
					
												<div class="mt-2">
													<button class="btn btn-primary" type='submit'>Track</button>
												</div>
											</form> #}
				</div>
			</section>

		</div>
	</body>
</html></body></html>
