<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Parcel Tracker</title>
		<script src="https://cdn.tailwindcss.com"></script>
		<link
		href="https://cdn.jsdelivr.net/npm/daisyui@4.6.0/dist/full.min.css" rel="stylesheet" type="text/css"/>

		{# <link href="/static/css/car.css" rel="stylesheet" type="text/css"/> #}

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@600&display=swap" rel="stylesheet">

		<style>

			* {
				font-family: 'Red Hat Display', sans-serif;
			}
			.blob {
				background-image: url('/static/images/blob.png');
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
			}

			.link-text{
				color: #07111D;
			}
		</style>
	</head>
	<body>

		<div class='container-xl blob'>

			<div class="navbar">
				<a href='/' class="btn btn-ghost text-md lg:text-xl">Castillo Parcel Tracker</a>
				<nav class='ml-2 flex gap-2'>
					<a  href="/login"> Login </a>
					<a href="/register"> Register</a>
				</nav>
			</div>

			<section class="px-4 md:px-0 lg:grid lg:grid-cols-[1fr,2fr] lg:h-[calc(100vh-65px)]">


				<div class="flex items-end justify-center">
					<img src='/static/images/hero.png'>
				</div>

				<div class="flex items-center justify-center"> {% block body %}{% endblock %}
					</div>
				</section>

			</div>

		</body>
	</html>
</html
